* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 90px;
    width: 100%;
    background-color: green;
    position: relative;
  }

  .nav-header {
    display: inline;
  }

  .nav-title {
    display: inline-block;
    font-family: Times, serif;
    padding: 10px 10px 10px 10px;
    font-size: 30px;
    color: black;
    font-weight: 550;
  }
 .nav-links {
    font-size: 18px;
    display: inline;
    float: right;

  }
 ul li a{
    color: black;
    line-height: 40px;
    font-size: 18px;
    display: block;
    padding: 0 8px;
    font-family: Times, serif;

  }
   ul{
    list-style: none;
    position: relative;
    padding: 0;
    margin-top: 5px;
    
  }
   ul li{
    display: inline-flex;
    
  }
  .nav > .nav-links > ul li:hover{
      background-color: black;
      
  }